{
    email {$ACME_EMAIL}
}
{$API_DOMAIN} {
    encode zstd gzip
    reverse_proxy api:8000
}

{$UI_DOMAIN} {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }
    reverse_proxy ui:8501
}
